*.java text
*.properties text
*.css text
*.js text
*.xhtml text
*.html text
*.jsf text
*.jsp text
*.xml text
*.xsd text
*.txt text
*.cmd text
*.sh text
*.log text
*.dtd text
*.sql text
