.DS_Store
.idea/
.svn/
*.ipr
*.iml
*.iws
*.log
*.jar
*.war
*.ear
/out/
classes/
target/
overlays/
*.versionsBackup
*.releaseBackup
node_modules/
node-ankor/demo/lib/dojo
node-ankor/demo/lib/dijit
node-ankor/demo/lib/dojox
node-ankor/demo/lib/util
*.pyc
*.bak
.project
.classpath
.settings/
xcuserdata/
xcshareddata/
