.DS_Store
.idea/
*.ipr
*.iml
*.iws
*.log
*.jar
*.war
*.ear
/out/
classes/
target/
overlays/
*.versionsBackup
node_modules/
node-ankor/demo/lib/dojo
node-ankor/demo/lib/dijit
node-ankor/demo/lib/dojox
node-ankor/demo/lib/util
*.pyc
