.DS_Store
.idea/artifacts/
.idea/copyright/
.idea/inspectionProfiles/
.idea/libraries/
.idea/scopes/
.idea/*.xml
.idea/.*
*.ipr
*.iml
*.iws
*.log
*.jar
*.war
*.ear
/out/
classes/
target/
overlays/
*.versionsBackup
