<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ankor &middot; {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'bootstrap-theme.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'github.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'breadcrumb.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'ankor.css' %}" type="text/css" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="{% static 'html5shiv.js' %}"></script>
    <script src="{% static 'respond.min.js' %}"></script>
    <![endif]-->

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Fav and touch icons -->
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->
    <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}"/>
</head>

<body>
{% include "navbar.html" %}

<div class="foreground">
    {% block container %}
    <div class="container" style="padding-top:30px">
        {% block content %}
        {% endblock %}
    </div>
    {% endblock %}
</div>

{% include "footer.html" %}

</body>
</html>
