<div class="navbar" id="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li {% if home %}class="active"{% endif %}><a href="/">Home</a></li>
                <li {% if download %}class="active"{% endif %}><a href="/download">Download</a></li>
                <li {% if examples %}class="active"{% endif %}><a href="/tutorials/fx/0">Tutorials</a></li>
                <li {% if documentation %}class="active"{% endif %}><a href="/documentation">Documentation</a></li>
                <li {% if contribute %}class="active"{% endif %}><a href="/contribute">Contribute</a></li>
            </ul>
        </div>
    </div>
</div><!-- /.navbar -->
