{% extends "base.html" %}

{% block title %}Tutorials{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>Ankor Server</h2>

            <p>Write a client-technology independent Ankor server.</p>

            <p><a class="btn btn-success btn-lg" role="button" href="/tutorials/server" style="margin-bottom:20px">
                Get started
                <span class="glyphicon glyphicon-chevron-right muted"></span>
            </a></p>

            <div class="row">
                <div class="col-md-6">
                    <div class="jumbotron">
                        <h2>JavaFX Client</h2>

                        <p>Write a simple JavaFX app using an existing Ankor server.</p>

                        <p><a class="btn btn-success btn-lg" role="button" href="/tutorials/fx">
                            Get started
                            <span class="glyphicon glyphicon-chevron-right muted"></span>
                        </a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="jumbotron">
                        <h2>HTML5 Client</h2>

                        <p>Write a simple JavaScript app using an existing Ankor server.</p>

                        <p><a class="btn btn-success btn-lg" role="button" href="/tutorials/js">
                            Get started
                            <span class="glyphicon glyphicon-chevron-right muted"></span>
                        </a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="jumbotron">
                        <h2>.NET Client</h2>

                        <p>Write a simple .NET app using an existing Ankor server.</p>

                        <p><a class="btn btn-success btn-lg disabled" role="button">Coming soon...</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="jumbotron">
                        <h2>iOS Client</h2>

                        <p>Write a simple iOS app using an existing Ankor server.</p>

                        <p><a class="btn btn-success btn-lg" role="button" href="/tutorials/ios">
                            Get started
                            <span class="glyphicon glyphicon-chevron-right muted"></span>
                        </a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="jumbotron">
                        <h2>Android Client</h2>

                        <p>Write a simple Android app using an existing Ankor server.</p>

                        <p><a class="btn btn-success btn-lg disabled" role="button">Coming soon...</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
