body {
    padding: 0 0 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}

.container {
    position: relative;
}

section.row {
    padding: 40px 0;
}

section.row, .foreground {
    border-bottom: 15px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075);
}

.foreground {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.025);
}

section.row:last-child {
    border-bottom: 0;
}

.btn {
    border-radius: 0;
    border: none;
    border-bottom: 7px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.btn-default {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.btn-default:hover {
    background-color: #f5f5f5;
    border-color: rgba(0, 0, 0, 0.05);
}

section.row li {
    margin-bottom: 5px;
}

.container .jumbotron {
    padding: 30px;
    border-radius: 0;
    border-bottom: 10px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.jumbotron.main {
    margin-bottom: 0;
}

.navbar-fixed-top {
    border-bottom: 7px solid rgba(0, 0, 0, 0.075);
}

.navbar-fixed-top li.active {
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.05);
}

.jumbotron.main h1 {
    font-weight: bold;
}

.jumbotron.main .fa-anchor {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 250px;
    color: #dbdbdb;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

a {
    cursor: pointer;
}

p a {
    font-weight: 500;
}

code, pre {
    font-family: Menlo, Consolas, "Courier New", monospace;
    border-radius: 0;
    border: none;
}

pre {
    margin: 20px 0;
    overflow-x: auto;
    word-wrap: normal;
    border-bottom: 7px solid rgba(0, 0, 0, 0.05);
}

code {
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    top: -1px;
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
}

pre, .alert {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

a code {
    color: #d01040;
}

a:hover {
    text-decoration: none;
}

a:hover code {
    background-color: rgba(0, 0, 0, 0.1);
}

.well {
  box-shadow: none;
}

.muted {
    opacity: 0.5;
}

.tab-content {
    padding: 10px 10px 0;
    margin-bottom: 20px;
}

.nav-tabs {
    margin-top: 20px;
    margin-bottom: 0;
}

img {
    width: 100%;
}

p > img {
  max-width: 764px;
  width: 100%;
}

.foreground {
    position: relative;
    padding-top: 50px;
    z-index: 2;
    background: #fff;
    overflow-x: hidden;
}

#footer, body {
    background-color: #e8e8e8;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #999;

    z-index: 1;
    text-align: center;
    height: 110px;
    padding-top: 40px;
}

#footer a {
    color: #555;
}

@media (min-width: 768px) {
    section.row > .container {
        padding-left: 0;
        padding-right: 0;
    }

}

@media (max-width: 768px) {
    .navbar-fixed-top li.active {
        box-shadow: none;
    }
}

@media (max-width: 992px) {
    .affix {
        position: relative;
        top: 0!important;
        left: 0!important;
    }

    .jumbotron.main {
        padding-left: 0;
        padding-right: 0;
    }
}

.panel, .panel a {
    border-radius: 0!important;
    border: none;
}

.panel-heading {
    display: block;
}

.panel-default .panel-heading:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.075);
}

.panel .list-group-item, .panel .panel-heading {
    border: none!important;
    border-bottom: 7px solid rgba(0, 0, 0, 0.05)!important;
}

.panel .list-group-item {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.025);
}

.panel .list-group-item {
    margin-bottom: 0;
}

.breadcrumb {
    background-color: #f5f5f5;
    border-radius: 0;
    border: none;
    border-bottom: 7px solid rgba(0, 0, 0, 0.05);
    padding-left: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.breadcrumb > li > * {
    border: none;
    margin-top: 0;
    color: #777;
}

.breadcrumb > li:hover > * {
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.025);
}

.breadcrumb > li.active > * {
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.05);
}

.alert {
    border-radius: 0;
    border: none;
    border-bottom: 7px solid rgba(0, 0, 0, 0.05);
}

.navbar-toggle {
    border-radius: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

.navbar-toggle:active, .navbar-toggle:focus {
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.15);
}
