body {
    padding-top: 20px;
    padding-bottom: 60px;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1200px;
}
.container > hr {
    margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 80px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.navbar .nav li a {
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}

.navbar .nav li:first-child a {
    border-left: 1px solid rgba(0,0,0,.1);;
}

a {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
}

code, pre {
    font-family: Menlo, Consolas, "Courier New", monospace;
}

pre.prettyprint {
    margin-bottom: 10px;
}

.tab-content {
    padding: 10px 10px 0px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 20px;
}

.nav-tabs {
    margin-bottom: 0;
}

.nav-tabs > li.active a {
    background-color: #f5f5f5;
}

.nav-tabs > li.active:hover a {
    background-color: #f5f5f5;
}

p code {
    color: #333;
}

p a code {
    color: #d41;
}
