body {
    padding: 80px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}

.container {
    position: relative;
}

body > .jumbotron {
    min-height: 320px;
}

body > .jumbotron h1 {
    margin-top: 0;
}

body > .jumbotron .fa-anchor {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 230px;
    opacity: 0.1;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4 {
    margin-top: 30px;
}

a {
    cursor: pointer;
}

p a {
    font-weight: 500;
}

code, pre {
    font-family: Menlo, Consolas, "Courier New", monospace;
}

pre {
    margin: 20px 0;
    overflow-x: auto;
    word-wrap: normal;
}

code {
    color: rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

a code {
    color: #d01040;
}

.well {
  box-shadow: none;
}

.muted {
    opacity: 0.5;
}

.tab-content {
    padding: 10px 10px 0px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 20px;
}

.nav-tabs {
    margin-top: 20px;
    margin-bottom: 0;
}

.nav-tabs > li.active a {
    background-color: #f5f5f5;
}

.nav-tabs > li.active:hover a {
    background-color: #f5f5f5;
}

img {
    width: 100%;
}

p > img {
  max-width: 764px;
  width: 100%;
}

a.panel-heading {
    display: block;
}

a.panel-heading:hover {
    text-decoration: none;
}

@media (max-width: 992px) {
    .affix {
        position: relative;
    }
}
