body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;
}
.animalSampleMain,
.animalSampleMain > .dijitLayoutContainer {
    width:100%;
    height:100%
}

.animalSampleMain div.menuBarContent {
    margin: 5px 10px;
}

.animalSampleMain > .dijitLayoutContainer > .dijitTabContainer {
    margin: 5px;
}

.dijitTabPaneWrapper {
    padding: 5px;
}