{% extends "base.html" %}

{% block title %}Examples{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="row">
    <div class="col-md-3">
        {% include "tutorial/tutorial_fx_menu.html" %}
    </div><!--/span-->
    <div class="col-md-9">
        {% include "tutorial/tutorial_fx_head.html" with tutorial_title='Binding your first Property' tutorial_step='3' %}

        {% load markdown %}
        {{ content|markdown }}

        <hr/>
        <a class="btn btn-primary" href="/tutorials/fx/3">Next »</a>&nbsp;&nbsp; Using Actions to add todos to the list.

    </div><!--/span-->
</div><!--/row-->

{% endblock %}
