{% include "tutorial/tutorial_breadcrumbs.html" %}
<div id="accordion">
    <a data-toggle="collapse" data-parent="#accordion" href="#instructions">
        <i class="glyphicon glyphicon-hand-right"></i> Workspace Instructions
    </a>

    <div id="instructions" class="collapse out" style="margin-top:10px">
<pre><span class="muted">// Checkout tutorial step</span>
git checkout -f {{type}}-step-{{step}}
</pre>
        <p>If you experience problems, please check the <a href="/tutorials/{{type}}">Overview</a> section of this
            tutorial.</p>
    </div>
</div>
