{% extends "base.html" %}

{% block title %}Examples{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="row">
    <div class="span3">
        {% include "tutorial/tutorial_fx_menu.html" %}
    </div><!--/span-->
    <div class="span9">
        <ul class="breadcrumb">
            {% include "tutorial/tutorial_fx_breadcrumbs.html" %}
            <li><a href="/tutorials/fx/1">1 - TBD</a></li>
        </ul>
        {% include "tutorial/tutorial_fx_pagination.html" %}
        <p>&nbsp;</p>
    </div><!--/span-->
</div><!--/row-->

{% endblock %}
