<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li {% if step == 0 %}class="active"{% endif %}><a href="/tutorials/fx/0">0 - Bootstraping</a></li>
        <li {% if step == 1 %}class="active"{% endif %}><a href="/tutorials/fx/1">1 - Starting the Application</a></li>
        <li {% if step == 2 %}class="active"{% endif %}><a href="/tutorials/fx/2">2 - Initializing Ankor</a></li>
        <li {% if step == 3 %}class="active"{% endif %}><a href="/tutorials/fx/3">3 - Binding your first Property</a></li>
        <li {% if step == 4 %}class="active"{% endif %}><a href="/tutorials/fx/4">4 - Adding Todos to the List</a></li>
    </ul>
</div><!--/.well -->
