{% extends "base.html" %}

{% block title %}Examples{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="row">
    <div class="span3">
        {% include "tutorial/tutorial_fx_menu.html" %}
    </div><!--/span-->
    <div class="span9">
        {% include "tutorial/tutorial_fx_head.html" with tutorial_title='Initializing Ankor' tutorial_step='2' %}

        {% load staticfiles %}
        {% load markdown %}
        {{ content|markdown }}

        <hr/>
        <a class="btn btn-primary" href="/tutorials/fx/3">Next »</a>&nbsp;&nbsp;In the next step we will bind the first UI component to an Ankor property.

    </div><!--/span-->
</div><!--/row-->

{% endblock %}
