{% extends "base.html" %}

{% block title %} Tutorials &middot; {{type_name}}{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="row">
    <div class="col-md-3">
        {% include "tutorial/tutorial_menu.html" %}
    </div><!--/span-->
    <div class="col-md-9">
        {% include "tutorial/tutorial_head.html" %}

        {% load markdownlib %}
        {% autoescape off %}
            {{ content|markdown:"codehilite" }}
        {% endautoescape %}

        <hr/>
        <a class="btn btn-primary pull-right" href="/tutorials/fx/{{nextStep}}">
			Next 
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>

    </div><!--/span-->
</div><!--/row-->

{% endblock %}
