{% include "tutorial/tutorial_breadcrumbs.html" %}
<div id="accordion">
	<a data-toggle="collapse" data-parent="#accordion" href="#instructions">
		<i class="glyphicon glyphicon-hand-right"></i> Workspace Instructions
	</a>

	<div id="instructions" class="collapse out" style="margin-top:10px">
<pre class="prettyprint">
// Checkout tutorial step
git checkout -f fx-step-{{step}}
// Switch to boot module
cd boot
// Start the application
mvn install exec:java</pre>
		<p>If you experience problems, please check the <a href="/tutorials/fx/0">Bootstraping</a> section of this
			tutorial.</p>
	</div>
</div>
