{% extends "base.html" %}

{% block title %} Tutorials &middot; {{type_name}}{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="row">
    <!--/span-->
    <div class="col-md-9 col-md-push-3">
        {% include "tutorial/tutorial_head.html" %}

        {% load markdownlib %}
        {% autoescape off %}
        {{ content|markdown:"codehilite" }}
        {% endautoescape %}

        <br/>
        {% if hasNextStep %}
        <a class="btn btn-primary pull-right visible-lg visible-md" href="/tutorials/{{type}}/{{nextStep}}" style="margin-bottom:20px">
            Next
            <span class="glyphicon glyphicon-chevron-right muted"></span>
        </a>
        {% endif %}
    </div>
    <div class="col-md-3 col-md-pull-9">
        {% include "tutorial/tutorial_menu.html" %}
    </div>
    <!--/span-->
</div><!--/row-->
<script type="text/javascript">
    $(function() {
        $(window).resize(function () {
            $('.affix').width($('.col-md-3').width());
        });

        $("#tutorial-menu").on("affixed.bs.affix", function() {
            $('.affix').width($('.col-md-3').width());
        });

        $("p > img").parent().css({textAlign: "center"});
    });
</script>

{% endblock %}
